/* nestedGraphNode is the parent div */
div.nestedGraphNode{
position:fixed;
background-color:white;

}


div.nestedGraphNodeSummary
{
position:fixed;
width:100px;
padding:10px;
border:solid;
background-color:#98FB98;
}

div.nestedGraphNodeContent
{
position:fixed;
width:500px;
padding:10px;
border:solid;
visibility:hidden;
}

body
{
	margin:0px;
}

svg
{
position:fixed;
z-index:0;
background:rgb(55, 107, 140);
}

div#commands{
position:fixed;
z-index:1000;
background-color:#98FB98;
visibility:hidden;
}

